:root {
  --color-background: #ffffff;
  --color-background-soft: #f8f8f8;
  --color-background-mute: #f2f2f2;
  --color-border: #dcdcdc;
  --color-border-hover: #c8c8c8;
  --color-heading: #2c3e50;
  --color-text: #2c3e50;
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #181818;
    --color-background-soft: #222222;
    --color-background-mute: #282828;
    --color-border: #3a3a3a;
    --color-border-hover: #4a4a4a;
    --color-heading: #ffffff;
    --color-text: rgba(255, 255, 255, 0.87);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}
